.greeting {
	h2 {
		margin: 0 0 30px 0;

		font-family: $font--yk-bold;
		font-weight: 700;
		font-size: 30px;
		line-height: 30px;
	}
}

.greeting__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 100%;

	img {
		border-radius: 6px;
	}
}

.greeting__description {
	p {
		margin: 0 0 20px 0;

		width: 95%;

		font-family: $font--yk-light;
		font-weight: 300;
		font-size: 26px;
		line-height: 26px;

		&:last-child {
			margin: 0;
		}
	}
}