.page-header {
	margin: 0;
	padding: 40px 0;
}

.page-header__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.page-header__item {
	margin: 0 0 0 30px;

	font-family: $font--yk-light;
	font-weight: 300;
	font-size: 34px;
	line-height: 34px;

	&:first-child {
		margin: 0;
	}
}