.portfolio {
	h2 {
		margin: 0 0 30px 0;
		padding: 0;

		font-family: $font--yk-bold;
		font-weight: 700;
		font-size: 30px;
		line-height: 30px;
	}
}

.portfolio__item {
	margin: 0 0 40px 0;
	padding: 0;

	h3 {
		margin: 0 0 20px 0;
		padding: 0;

		font-family: $font--yk-regular;
		font-weight: 400;
		font-size: 26px;
		line-height: 26px;
	}

	&:last-child {
		margin: 0;
	}
}

.portfolio__group {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.portfolio__description {
	margin: 0 0 0 20px;
	padding: 0;

	width: 90%;

	p {
		margin: 0 0 20px 0;
		padding: 0;

		font-family: $font--yk-light;
		font-weight: 300;
		font-size: 26px;
		line-height: 26px;
	}

	ul {
		margin: 0 0 0 20px;
		padding: 0;

		list-style: disc;
	}

	li {
		margin: 0 0 20px 0;
		padding: 0;

		font-family: $font--yk-light;
		font-weight: 300;
		font-size: 26px;
		line-height: 26px;

		width: 90%;

		&:last-child {
			margin: 0;
		}
	}
}

.portfolio__description--acselerator {
	margin: 0 0 60px 0;
	padding: 0;

	a {
		color: black;
			border-bottom: 1px solid black;

			&:hover,
			&:focus {
				color: $darkgreen;
				border-bottom: 1px solid $darkgreen;
				transition: 0.5ms;
			}
	}
}