.services-header {
	margin: 0;
	padding: 40px 0;
}

.services-header__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.services-header__item {
	margin: 0 0 0 30px;

	font-family: $font--yk-regular;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;

	&:first-child {
		margin: 0;
	}

	a {
		color: black;
	}
}

.services-main {
	h2 {
	margin: 0 0 30px 0;

	font-family: $font--yk-bold;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	}
}

.services__list {
	margin: 0 0 0 40px;

	list-style: disc;
}

.services__item {
	margin: 0 0 15px 0;

	font-family: $font--yk-light;
	font-weight: 300;
	font-size: 26px;
	line-height: 26px;
}

.services__item:last-child {
	margin: 0;
}

.services__link {
	font-family: $font--yk-regular;
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
}