$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font--yk-light: "Yanone Kaffeesatz", "YanoneKaffeesatz-Light", "Arial", sans-serif;
$font--yk-regular: "Yanone Kaffeesatz", "YanoneKaffeesatz-Regular", "Arial", sans-serif;
$font--yk-bold: "Yanone Kaffeesatz", "YanoneKaffeesat-Bold", "Arial", sans-serif;

$lightgray: rgb(235, 235, 235);
$lightgreen: rgb(228, 245, 242);