$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font--montserrat-regular: "Montserrat-Regular", "Arial", sans-serif;
$font--montserrat-medium: "Montserrat-Medium", "Arial", sans-serif;
$font--montserrat-bold: "Montserrat-Bold", "Arial", sans-serif;